<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<!-- <link href="css/styles-grid-tutorial.css" rel="stylesheet"> -->
<title>Udacity-Travel App</title>
</head>

<body>
<div class="wrapper">
  <header class="box header">Udacity - Travel App</header>
  <section class="box content">
  	<section class="search">
	 <form id="form-travel" class="search-form">
	  	<label class="search-destination" for="form-travel">Destination:</label>
		   <input id="destination" type="text" name="destination" value="" placeholder="" required>
	     <!--End - Label: class=form-destination -->  
	    <label class="search-departDate" for="form-travel">Departure Date:</label>
		   <input id="departureDate" type="date" name="departureDate" placeholder="" required/>
	     <!--End - Label: class=form-departure-date --> 
	       <input class="btn btn-search" type="submit" name="" value="Search"/>
			
	 </form>	<!--End - Form: class=search-form -->	 
  	</section> <!--End - Section: class=search-->	  
  </section>  
  <!--End - Section: class=box content-->
  <footer class="box footer">
	<label class="footer-text">@carminetedesco</label>
	</footer>
</div> <!--End - Div: class=wrapper-->
      
</body>
</html>
