form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

body {
    background:#EFC746;
	background: linear-gradient(to top, black 20%, cyan 80%);
    margin: 0;
    color: #fff;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

#inputBox {
    padding: 5px 20px;
    width: 60%;
    line-height: 16px;
    margin: 10px 0;
}

#submitBtn {
    padding: 5px 20px;
    width: 40%;
    line-height: 16px;
    margin: 10px 0;
	align-self: center;
}